.btn {
    background: #5263b4;
    color: #fff;
    border-color: #5263b4;

    &:hover,
    &:active {
        background: #455398;
        color: #fff;
    }

    &.btn-danger {
        background: #b45252;
    }

    &.btn-outline-danger {
        color: #b45252;
        background: transparent;
    }
}

.btn-outline-primary {
    background: transparent;
    color: #5263b4;
}

label {
    margin-top: 10px;
    text-align: left;
}

.text-bg-success {
    background: $green;
}

.text-bg-danger {
    background: $red;
}