{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Overview
      </div>
      <div class="card-body">
        <h1>Willkommen bei der energiebasierten Terminplanung!</h1>
        <p></p>
        <h2>Hallo {{username}}!</h2>
        <p>Hier können Sie Ihre Energieverbräuche und -erzeugung über das Dashboard analysieren.</p>
        <p>Über die Optimierungsfunktion können Sie ihre Showroom-Kundentermine möglichst energieeffizient planen.</p>
        <p>Update-Test V2</p>
        <p>Das ist der x-te Test</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}