{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <h2>Optimization</h2>
    <div class="card">
      <div class="card-body">
        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Hier sind die optimalen Zeitpunkte für Ihre Termine:</h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Termin ID</th>
                      <th scope="col">Bezeichnung</th>
                      <th scope="col">Datum</th>
                      <th scope="col">Uhrzeit</th>
                      <th scope="col">Dauer (h)</th>
                      <th scope="col">Kalendereinladung</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in my_list %}
                    <tr>
                      <td>{{ item.TerminID }}</td>
                      <td>{{ item.bezeichnung }}</td>
                      <td>{{ item.Date }}</td>
                      <td>{{ item.Time }}</td>
                      <td>{{ item.dauer }}</td>
                      <td>
                        <a href="{{ url_for('return_files_calendar', dauer=item.dauer, bezeichnung=item.bezeichnung, datum=item.Date, uhrzeit=item.Time, id=item.TerminID) }}"
                          target="blank"><button class='btn btn-primary'>Kalendereintrag</button></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}