{% extends 'base.html' %}
{% block content %}
<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">Optimization</div>
      <div class="card-body">
        <form class="form-horizontal" method="post">
          <div class="col-sm-15">
            <h4>Planungshorizont festlegen</h4>
          </div>
          <div class="form-group ">
            <p></p>
            <label class="control-label col-sm-2 requiredField" for="start_date">
              Beginn
              <span class="asteriskField">
                *
              </span>
            </label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar">
                  </i>
                </div>
                <input class="form-control" id="start_date" required name="start_date" placeholder="DD.MM.YYYY" type="text" />
              </div>
            </div>
          </div>
          <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="end_date">
              Ende
              <span class="asteriskField">
                *
              </span>
            </label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar">
                  </i>
                </div>
                <input class="form-control" id="end_date" required name="end_date" placeholder="DD.MM.YYYY" type="text" />
              </div>
            </div>
          </div>
          <p></p>
          <div class="col-sm-15">
            <h4>Termine definieren</h4>
          </div>
          <div class="table-responsive">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-8">
                    <h2></h2>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Neuer Termin</button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Termin ID</th>
                    <th>Bezeichnung</th>
                    <th>Dauer (in Stunden)</th>
                    <th>Aktionen</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-1">
              <button class="btn btn-info" name="submit" type="submit">
                Optimieren
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    //var actions = $("table td:last-child").html();
    var actions =
      '<a class="add" title="Termin hinzufügen" data-toggle="tooltip">+</a>' +
      '<a class="delete" title="Termin löschen" data-toggle="tooltip">-</a>'


    // Append table with add row form on add new button click
    $(".add-new").click(function () {
      $(this).attr("disabled", "disabled");
      var index = $("table tbody tr:last-child").index();
      var row = '<tr>' +
        '<td><input type="text" class="form-control" required name="id" id="id"></td>' +
        '<td><input type="text" class="form-control" required name="bezeichnung" id="bezeichnung"></td>' +
        '<td><input type="text" class="form-control" required name="dauer" id="dauer"></td>' +
        '<td>' + actions + '</td>' +
        '</tr>';
      $("table").append(row);
      $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
      $('[data-toggle="tooltip"]').tooltip();
    });

    // Add row on add button click
    $(document).on("click", ".add", function () {
      var empty = false;
      var input = $(this).parents("tr").find('input[type="text"]');
      input.each(function () {
        if (!$(this).val()) {
          $(this).addClass("error");
          empty = true;
        } else {
          $(this).removeClass("error");
        }
      });
      var id = $("#id").val();
      var bezeichnung = $("#bezeichnung").val();
      var dauer = $("#dauer").val();
      $.post("/add_termin", { id: id, bezeichnung: bezeichnung, dauer: dauer }, function (add_termin) { })

      $(this).parents("tr").find(".error").first().focus();
      if (!empty) {
        input.each(function () {
          $(this).parent("td").html($(this).val());
        });
        $(this).parents("tr").find(".add, .edit").toggle();
        $(".add-new").removeAttr("disabled");
      }
    });

    // Delete row on delete button click
    $(document).on("click", ".delete", function () {
      var $row = $(this).closest("tr"); // Finds the closest row <tr> 
      var id = $row.find("td:nth-child(1)").text(); // Finds the 1st <td> element
      $.post("/delete_termin", { id: id }, function (delete_termin) { })

      $(this).parents("tr").find("td:not(:last-child)")
      $(this).parents("tr").remove();
      $(".add-new").removeAttr("disabled");
    });
  });
</script>


<script>
  $(document).ready(function () {
    var start_date_input = $('input[name="start_date"]');
    var end_date_input = $('input[name="end_date"]');
    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
    var options = {
      format: 'dd.mm.yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    start_date_input.datepicker(options);
    end_date_input.datepicker(options);
  });
</script>

</div>
{% endblock %}