{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Profil
      </div>
      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          <img class="mb-4 profile-pic" src="{{ url_for('static', filename=profilepic) }}" alt="" width="75" height="75">
          <h1 class="h3 mb-3 font-weight-normal">Profil anpassen</h1>
          {{ form.hidden_tag() }}
          <label for="inputPic" class="sr-only">Bild (hochladen / anpassen)</label>
          <br>
          {{ form.profilepic }}
          <br>
          <label for="inputEmail" class="sr-only">Nutzername</label>
          {{ form.username }}
          <label for="inputPassword" class="sr-only">Passwort</label>
          {{ form.password }}
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}