{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Fehler
      </div>
      <div class="card-body">
        <h1>Error 500 - Die Seite konnte nicht gefunden werden!</h1>
        <p></p>
        <p>Ups! - Etwas ist schiefgegangen!</p>
        <p>Ein nicht vorhergesehener Fehler ist aufgetreten - bitte kontaktieren Sie einen Administrator oder werfen Sie einen Blick in die Logs</p>
       </div>
    </div>
  </div>
</div>
{% endblock %}