{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-header">
        Maschinen
      </div>
      <div class="card-body">
        <div class="row">
          {% for machine in machines %}
          <div class="col-6 col-lg-3 mb-3">
            <a href="{{ url_for('show_calendar', id=machines[machine]['id']) }}"
              class="list-group-item list-group-item-action h-100">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ machines }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ machines[machine]['title'] }}</h6>
                  <p class="card-text">{{ machines[machine]['mail'] }}</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-header">
        Mitarbeiter
      </div>
      <div class="card-body">
        <div class="row">
          {% for user in users %}
          <div class="col-6 col-lg-3 mb-3">
            <a href="{{ url_for('show_calendar', id=users[user]['id']) }}"
              class="list-group-item list-group-item-action h-100">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ user }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ users[user]['title'] }}</h6>
                  <p class="card-text">{{ users[user]['mail'] }}</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}