{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Kalenderübersicht
      </div>
      <div class="card-body">
        <h1>Wählen Sie einen Kalender aus, um die Events des Nutzers nächste Woche zu sehen!</h1>
        <div class="list-group">
          {% for user in users %}
          <a href="{{ url_for('show_calendar', id=users[user]) }}" class="list-group-item list-group-item-action">{{ user }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}