{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Events
      </div>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Datum</th>
                <th scope="col">Startzeit</th>
                <th scope="col">Endzeit</th>
                <th scope="col">Titel</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Ort</th>
              </tr>
            </thead>
            <tbody>
        <div class="list-group">
          {% for event in events %}
          <tr>
            <td>{{ event['date'] }}</td>
            <td>{{ event['starttime'] }}</td>
            <td>{{ event['endtime'] }}</td>
            <td>{{ event['subject'] }}</td>
            <td>{{ event['body'] }}</td>
            <td>{{ event['location'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}