{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Events
      </div>
      <div class="card-body">
        {% for event in termin_daten %}
          <div class="calendardate-box">
            <div class="date-column">
              <div class="weekday">Mi</div>
              <span class="date">{{ event['date'] }}</span>
            </div>
            <div class="info-column">
              <div class="daterange-column">
                {{ event['starttime'] }}-{{ event['endtime'] }}
              </div>

              <div class="detail-column">
                <div class="date-description">{{ event['subject'] }}</div>
                <b>Maschinen:</b> Wellenlöt, Lötbad 3/4, Lötbad 5<br>
                <b>Mitarbeiter:</b> Adele Vance, Henrietta Mueller<br>
                <b>Ort:</b> {{ event['location'] }}<br><br>
                <b>Beschreibung:</b> {{ event['body'] }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}