{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Overview
      </div>
      <div class="card-body">
        <h1>Willkommen zurück, {{username}}!</h1>
        <p></p>
        <h2>Energiebasierte Terminplanung</h2>
        <p></p>
        <p>Hier können Sie Ihre Energieverbräuche und -erzeugung über das Dashboard analysieren.</p>
        <p>Über die Optimierungsfunktion können Sie ihre Showroom-Kundentermine möglichst energieeffizient planen.</p>
        <p>Hier sollen verschiedene Cards angezeigt werden.</p>

      </div>
    </div>

    <div class="col mb-3">
      <div class="card h-100">
        <div class="card-header">
          Test
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.startdate.label }}
            {{ form.startdate }}<br>
            {{ form.enddate.label }}
            {{ form.enddate }}<br>
            {{ form.addline }}<br>
            {% for termin in form.termine %}
              <p> #{{ loop.index0 + 1 }} </p>
              {{ termin.terminbeschreibung.label }}
              {{ termin.terminbeschreibung }}<br>
              {{ termin.machines.label }}
              {{ termin.machines }}<br>
              {{ termin.duration.label }}
              {{ termin.duration }}<br>
              {{ termin.delete }}<br>
            {% endfor %}
            {{ form.optimize }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}