{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Overview
      </div>
      <div class="card-body">
        <h1>Willkommen zurück, {{username}}!</h1>
        <p></p>
        <h2>Energiebasierte Terminplanung</h2>
        <p></p>
        <p>Das Dashboard für energiebasierte Terminoptimierung ermöglicht es Ihnen, Ihre Termine auf eine energieeffiziente Art und Weise zu planen. Mit Hilfe von fortschrittlichen Algorithmen und Echtzeit-Energie-Daten können Sie die Auswirkungen Ihrer Termine auf die Umwelt minimieren.</p>
        <p>Das Dashboard bietet eine intuitive Benutzeroberfläche, mit der Sie Ihre Termine einfach und schnell planen und optimieren können. Sie können Datum und Uhrzeit der Termine einstellen, sowie die teilnehmenden Personen und Räumlichkeiten auswählen. Das Dashboard berechnet dann automatisch die prognostizierten Energieverbrauchswerte und gibt Ihnen Empfehlungen für die Optimierung Ihrer Termine.</p>
        <p>Sie können auch verschiedene Szenarien durchspielen und vergleichen, um die bestmögliche Lösung für Ihre Termine zu finden. Außerdem können Sie eine historische Ansicht Ihrer vergangenen Termine einsehen und deren Energieverbrauch nachverfolgen.</p> 
        <p>Das Dashboard ist ein wertvolles Werkzeug für Unternehmen, die ihren CO2-Fußabdruck reduzieren und gleichzeitig Zeit und Ressourcen sparen möchten. Mit der energiebasierten Optimierung von Terminen können Sie nicht nur die Umwelt schonen, sondern auch die Produktivität und Effizienz Ihres Unternehmens steigern.</p>
        <p></p>
        <p>Hier sollen verschiedene Cards angezeigt werden.</p>
        <div class="col-md-4">
          <label for="validationTagsThreshold" class="form-label">Tags (allow clear + 0 threshold)</label>
          <select class="form-select" id="validationTagsThreshold" name="tagsClearThreshold[]" multiple="" data-allow-clear="true" data-suggestions-threshold="0" style="display: none;">
            
            <option value="1" selected="selected" data-init="1">Apple</option>
            <option value="2">Banana</option>
            <option value="3">Orange</option>
          </select><div class="form-control dropdown"><div><span class="badge bg-primary me-2" data-value="1"><button type="button" style="font-size:0.65em" class="me-2 btn-close btn-close-white" aria-label="Clear"></button>Apple</span><input type="text" autocomplete="off" aria-label="Type a value" placeholder="" size="1" style="border: 0px; outline: 0px; max-width: 100%;"></div><ul class="dropdown-menu p-0" style="max-height: 280px; overflow-y: auto; left: 88px;"><li style="display: none;"><a class="dropdown-item" data-value="1" href="#">Apple</a></li><li style="display: list-item;"><a class="dropdown-item is-active bg-primary text-white" data-value="2" href="#">Banana</a></li><li style="display: list-item;"><a class="dropdown-item" data-value="3" href="#">Orange</a></li></ul></div>
          <div class="invalid-feedback">Please select a valid tag.</div>
        </div>
      </div>
    </div>

    <div class="col mb-3">
      <div class="card h-100">
        <div class="card-header">
          Test
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.csrf_token }}
            {{ form.startdate.label }}
            {{ form.startdate }}<br>
            {{ form.enddate.label }}
            {{ form.enddate }}<br>
            {% if 3 > form.termine|length %}
              {{ form.addline }}<br>
            {% endif %}
            {{ form.optimization_identifier }}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Bezeichnung</th>
                  <th>Maschinen</th>
                  <th>Dauer (h)</th>
                  {% if form.termine|length > 1 %}
                    <th>Aktionen</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for termin in form.termine %}
                  <tr>{{ termin.csrf_token }}
                    <td>#{{ loop.index0 + 1 }}</td>
                    <td>{{ termin.terminbeschreibung }}</td>
                    <td>{{ termin.machines }}</td>
                    <td>{{ termin.duration }}</td>
                    {% if form.termine|length > 1 %}
                      <td>{{ termin.delete }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>            
            {{ form.optimize }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}