{% extends 'base.html' %}
{% block content %}
<div class="row">

  <div class="col-12 col-xl-6 d-flex mb-3 align-items-stretch">
    <div class="card next-dates">
      <div class="card-header">Nächste Termine</div>
      <div class="card-body">
        <a href="{{ url_for('calendar') }}" class="stretched-link"></a>
        <div class="row">

          <div class="col-12 col-md-4 pb-4 p-md-0">
            <div class="datetime">
              <div class="time">{{ uhrzeit }}</div>
              <div class="date">{{ tag }}</div>
              <div class="next-date-slogan">
                Nächster Termin
              </div>
              <div class="next-date-value">
                {{ timer[0] }} T. {{ timer[1] }}:{{ timer[2] }} Std.
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            {% if not termin_daten_list %}
              Keine Termine vorhanden
            {% endif %}
            {% for item in termin_daten_list %}
              <div class="date-box">
                <div class="date-column">
                  <div class="weekday">{{ termin_daten_list[item]['weekday'] }}</div>
                  <span class="date">{{ termin_daten_list[item]['date'] }}</span>
                </div>
                <div class="info-column">
                  <div class="daterange-column">
                    {{ termin_daten_list[item]['starttime'] }}-{{ termin_daten_list[item]['endtime'] }}
                  </div>

                  <div class="detail-column">
                    <div class="date-description">{{ termin_daten_list[item]['description'] }}</div>
                    {{ termin_daten_list[item]['machines'] }}<br>
                    {{ termin_daten_list[item]['employees'] }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-6 mb-3 align-items-stretch">
    <div class="card">
      <div class="card-header">Wettervorhersage</div>
      <div class="card-body">
        <a href="{{ url_for('weather') }}" class="stretched-link"></a>
        <div class="weather-preview">
          <div class="weather-facts">
            <div class="temperature">{{ informations['Temp'][0] }}&deg;</div>
            <div class="weather-text">{{ informations['Wetter'][0] }}</div>
            <b>{{ cityname }}</b>
          </div>
          <div class="weather-icon">
            {% if 200 <= informations['Wettercode'][0] < 300 %} <img
              src="{{ url_for('static', filename='img/weather/storm.svg') }}">
            {% elif 300 <= informations['Wettercode'][0] < 400 %} <img
              src="{{ url_for('static', filename='img/weather/rainy.svg') }}">
            {% elif informations['Wettercode'][0] == 500 %}
              <img src="{{ url_for('static', filename='img/weather/light_rain.svg') }}">
            {% elif 501 <= informations['Wettercode'][0] < 600 %} <img
              src="{{ url_for('static', filename='img/weather/rainy.svg') }}">
            {% elif informations['Wettercode'][0] == 616 %}
              <img src="{{ url_for('static', filename='img/weather/snow_and_rain.svg') }}">
            {% elif 600 <= informations['Wettercode'][0] < 700 %} <img
              src="{{ url_for('static', filename='img/weather/snowflake.svg') }}">
            {% elif 700 <= informations['Wettercode'][0] < 800 %} <img
              src="{{ url_for('static', filename='img/weather/foog.svg') }}">
            {% elif informations['Wettercode'][0] == 800 %}
              <img src="{{ url_for('static', filename='img/weather/sun.svg') }}">
            {% elif informations['Wettercode'][0] > 800 %}
              <img src="{{ url_for('static', filename='img/weather/cloud.svg') }}">
            {% else %}
              <img src="{{ url_for('static', filename='img/weather/sun.svg') }}">
            {% endif %}
          </div>
        </div>
        
        <!-- Weather Forecast -->
        <div class="weather__forecast d-flex flex-row justify-content-center align-items-center mt-3">
          {% for i in range(1,9) %}
          <div class="p-0 p-md-1 d-flex flex-column justify-content-center align-items-center">
            <span>{{ informations['Wochentag'][i] }}</span>
            {% if 200 <= informations['Wettercode'][i] < 300 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/storm.svg') }}">
            {% elif 300 <= informations['Wettercode'][i] < 400 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/rainy.svg') }}">
            {% elif informations['Wettercode'][i] == 500 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/light_rain.svg') }}">
            {% elif 501 <= informations['Wettercode'][i] < 600 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/rainy.svg') }}">
            {% elif informations['Wettercode'][i] == 616 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/snow_and_rain.svg') }}">
            {% elif 600 <= informations['Wettercode'][i] < 700 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/snowflake.svg') }}">
            {% elif 700 <= informations['Wettercode'][i] < 800 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/foog.svg') }}">
            {% elif informations['Wettercode'][i] == 800 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/sun.svg') }}">
            {% elif informations['Wettercode'][i] > 800 %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/cloud.svg') }}">
            {% else %}
            <img data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ informations['Wetter'][i] }}" src="{{ url_for('static', filename='img/weather/sun.svg') }}">
            {% endif %}
            <span class="p-sm-1">{{ informations['Temp'][i] }}&deg;</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12 col-xl-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="card-header"><img src="{{ url_for('static', filename='img/leaf.svg') }}"> CO2-Ersparnis</div>
      <div class="card-body">
        <a href="{{ url_for('pv_anlage') }}" class="stretched-link"></a>
        <div class="savings row">
          <div class="savings-facts col-12 col-md-4">
            <div class="row">
              <div class="col-6 col-md-12">
                <div class="p-large">{{saved_co2_today}} kg</div>
                <p>heute</p>
              </div>
              <div class="col-6 col-md-12">
                <div class="p-large">{{saved_co2}} kg</div>
                <p>gesamt</p>
              </div>
            </div>
          </div>
          <div class="chart-container col-12 col-md-8">
            <canvas id="co2_saved" style="margin: 0 auto; width:100%" height="220"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="card-header">PV-Anlage</div>
      <div class="card-body">
        <a href="{{ url_for('pv_anlage') }}" class="stretched-link"></a>
        <div class="pv-container row">
          <div class="pv-percentage col-12 col-md-6">
            Auslastung PV-Anlage:
            <div class="pv-percentage-value">{{ auslastung_pv }} %</div>
            <div class="chart-container">
              <canvas id="pv_auslastung" style="margin: 0 auto;" width="200" height="200"></canvas>
            </div>
          </div>
          <div class="pv-values col-12 col-md-6">
            Erwartete PV-Energie 14 Tage Aussicht:
            <div class="pv-kwh">{{ pv_prediction_sum }} kWh</div>
            <div class="chart-container">
              <canvas id="pv_prediction" style="margin: 0 auto;width:100%" height="220"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ctx1 = document.getElementById('pv_prediction').getContext('2d');
  var pv_prediction = {{ pv_prediction }};
  var pv_prediction_labels = {{ pv_prediction_labels | safe }};

  var netzbezug_chart = new Chart(ctx1, {
    type: 'line',
    data: {
      labels: pv_prediction_labels,
      datasets: [{
        label: 'PV-Erzeugung',
        data: pv_prediction,
        borderColor: 'rgb(138, 179, 51, 1)',
        backgroundColor: 'rgb(138, 179, 51, 1)',
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      animation: {
        duration: 2000
      },
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          callbacks: {
            afterLabel: function (context) {
              return 'kWh';
            }
          }
        }
      },
      scales: {
        y: {
          title: {
            display: true,
            text: 'kWh'
          }
        }
      }
    }
  });
</script>

<script>
  var ctx1 = document.getElementById('pv_auslastung').getContext('2d');
  var auslastung_pv = {{ auslastung_pv }};
  
  var percentage_chart = new Chart(ctx1, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [auslastung_pv, 100-auslastung_pv],
        backgroundColor: [
          'rgba(138, 179, 51, 1)',
          'rgba(241, 241, 244, 1)'
        ]
      }]
    },
    options: {
      rotation: -90,
      circumference: 180,
      legend: {
        display: false,
      },
      plugins: {
        legend: {
          display: false,
        }
    }
  }
  });
  
</script>

<script>
  var ctx1 = document.getElementById('co2_saved').getContext('2d');
  var data = {{ co2_termine | safe }};
  var labels = []
  for (key in data['day']) { 
    labels.push(data['day'][key])
  }
  var data_list = []
  for (key in data['saved_co2']) { 
    data_list.push(data['saved_co2'][key])
  }
  
  var netzbezug_chart = new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'CO2-Einsparung',
        data: data_list,
        backgroundColor: 'rgb(138 179 51/ 100%)'
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      animation: {
        duration: 2000
      },
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          callbacks: {
            afterLabel: function (context) {
              return 'kg';
            }
          }
        }
      },
      scales: {
        y: {
          title: {
            display: true,
            text: 'kg'
          }
        }
      }
    }
  });
</script>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}