{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col mb-3">
    <div class="card">
      <div class="card-header">Optimierung</div>
      <div class="card-body">
        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h3>Terminvorschläge</h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Terminvorschläge</th>
                      <th scope="col">Bezeichnung</th>
                      <th scope="col">Maschinen</th>
                      <th scope="col">Mitarbeiter</th>
                      <th scope="col">Datum</th>
                      <th scope="col">Uhrzeit</th>
                      <th scope="col">Dauer</th>
                      <th scope="col">Terminauswahl</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in my_list %}
                    <tr>
                      <td>#{{ item.Termin_ID }}</td>
                      <td>{{ item.bezeichnung }}</td>
                      <td>{{ item.maschinen_string }}</td>
                      <td>{{ item.mitarbeiter_string }}</td>
                      <td>{{ item.Date }}</td>
                      <td>{{ item.Time }}</td>
                      <td>{{ item.dauer }}h</td>
                      <td>

                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" data-bs-toggle="modal" data-bs-target="#mailModal{{ item.TerminID }}" class="btn btn-outline-primary">auswählen</button>
                        </div>

                        <!-- Modals -->
                        <div class="modal fade" id="mailModal{{ item.TerminID }}" tabindex="-1" aria-labelledby="mailModalLabel{{ item.TerminID }}"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="mailModalLabel{{ item.TerminID }}">Termineinladung per Mail</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>Um den Termin zu speichern, können Sie den Termin</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                  <a href="{{ url_for('return_files_calendar', dauer=item.dauer, bezeichnung=item.bezeichnung, datum=item.Date, uhrzeit=item.Time, id=item.TerminID) }}"
                                    class="btn btn-outline-primary">herunterladen</a>
                                </div>
                                <p></p>
                                <p>oder per E-Mail versenden:</p>
                                <form method="POST" action="">
                                  {{ sendMailForm.csrf_token() }}
                                  {{ sendMailForm.dauer(value=item.dauer) }}
                                  {{ sendMailForm.bezeichnung(value=item.bezeichnung) }}
                                  {{ sendMailForm.date(value=item.Date) }}
                                  {{ sendMailForm.time(value=item.Time) }}
                                  {{ sendMailForm.terminID(value=item.TerminID) }}
                                  {{ sendMailForm.mailAddress.label }}<br>
                                  {{ sendMailForm.mailAddress(class_="form-control") }}<br>
                                  <div id="emailHelp" class="form-text">Mehrere Empfänger werden mit einem Komma getrennt.</div>
                                  {{ sendMailForm.mailText.label }}<br>
                                  {{ sendMailForm.mailText(class_="form-control sendMailTextarea") }}<br>
                                  {{ sendMailForm.submit }}
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="modal fade" id="saveModal{{ item.TerminID }}" tabindex="-1" aria-labelledby="saveModalLabel{{ item.TerminID }}"
                          aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="saveModalLabel{{ item.TerminID }}">Termin speichern</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>TO DO: TEXT EINFÜGEN</p>
                                <a type="button"
                                  href="{{ url_for('save_termin', id=item.Termin_ID) }}"
                                  class="btn btn-outline-primary">Speichern</a>
                              </div>
                            </div>
                          </div>
                        </div>


                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="card-header">Netzbezug der Terminvorschläge</div>
      <div class="card-body">
        <div class="row">
            <div class="col-xl-6">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Termin</th>
                      <th scope="col">Netzbezug</th>
                      <th scope="col">PV-Energie</th>
                      <th scope="col">PV-Anteil</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in netzbezug_termine_percent %}
                    <tr>
                      <td style="width: 1px; white-space: nowrap;">#{{ item.Termin_ID }}</td>
                      <td style="width: 1px; white-space: nowrap;">{{ item.netzbezug }} kWh</td>
                      <td style="width: 1px; white-space: nowrap;">{{ item.pv_consumption }} kWh</td>
                      <td style="width: 1px; white-space: nowrap;">{{ item.percent }} %</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="col-xl-6">
                <div class="chart-container" style="position: relative">
                  <canvas id="netzbezug_pro_termin" style="margin: 0 auto; max-width: 100%; height: 200px;"></canvas>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-6 mb-3 d-flex align-items-stretch">
    <div class="card">
      <div class="card-header">PV-Energie im Planungshorizont</div>
      <div class="card-body">
        <div class="pv-values">
          Erwartete PV-Energie im Planungszeitraum:
          <div class="p-large">{{output_prediction_sum}} kWh</div>
        </div>
        <p></p>
        <div class="chart-container">
          <canvas id="pv_prediction" style="margin: 0 auto;max-width:100%; height: 220px;"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  var ctx1 = document.getElementById('pv_prediction').getContext('2d');  
  var output_prediction_list = {{ output_prediction_list }};
  var output_prediction_dates = {{ output_prediction_dates | safe }};

  var pv_prediction = new Chart(ctx1, {
    type: 'line',
    data: {
      labels: output_prediction_dates,
      datasets: [{
        label: 'PV-Erzeugung',
        data: output_prediction_list,
        borderColor: 'rgb(138, 179, 51, 1)',
        backgroundColor: 'rgb(138, 179, 51, 1)',
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      animation: {
        duration: 2000
      },
      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          callbacks: {
            afterLabel: function (context) {
              return 'kWh';
            }
          }
        }
      }
    }
  });
</script>

<script>
  var ctx3 = document.getElementById('netzbezug_pro_termin').getContext('2d');
  var netzbezug_termine = {{ netzbezug_termine }};
  var parsed = JSON.parse('{{netzbezug_termine_percent | tojson}}');
  var data_list = []
  for (item in parsed){
    data_list.push(parsed[item].percent)
  }
    
  var termin_list = {{ termin_list }};
  var termin_list_new = termin_list.map(String);

  var netzbezug_chart = new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: ['Termin #1', 'Termin #2', 'Termin #3',],
      datasets: [{
        label: 'PV-Anteil',
        data: data_list,
        backgroundColor: 'rgb(138, 179, 51, 1)'
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      barThickness: 20,
      animation: {
        duration: 2000
      },
      scales: {
        x: {
          ticks: {
            display: true
          }
        },
        y: {
          ticks: {
            callback: function(value, index, ticks) {
                        return value + ' %';
            }
          }
        }
      },
      plugins: {
        legend: {
          display: false,
        }
      }
    }
  });
</script>

<script>
  var ctx2 = document.getElementById('pv_percentage').getContext('2d');
  var energy_consumption = {{ energy_consumption }};
  var netzbezug =  {{ netzbezug_termine }};
  var netzbezug_min = netzbezug[0];

  var percentage_chart = new Chart(ctx2, {
    plugins: [ChartDataLabels],
    type: 'doughnut',
    data: {
      labels: ['Solarstrom', 'Netzbezug'],
      datasets: [{
        data: [Number((energy_consumption - netzbezug_min).toFixed(1)), netzbezug_min],
        backgroundColor: [
          'rgba(10, 150, 20, 0.6)',
          'rgba(250, 10, 20, 0.6)'
        ]
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      aspectRatio: 2,
      cutoutPercentage: 50,
      legend: {
        display: false
      },
      animation: {
        animateScale: true,
        animateRotate: true,
        duration: 2000
      },
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          callbacks: {
            afterLabel: function (context) {
              return 'kWh';
            }
          }
        },
        datalabels: {
          display: 'auto',
          align: 'center',
          borderRadius: 4,
          color: 'black',
          font: {
            size: 14,
            weight: 'bold',
            color: '#fff',
            family: 'nunito'
          },
          formatter: function (value, context) { 
          if (value == 0){
            return null;
        } else {
          return value + " kWh"; 
        }
        }
      }
      }
    }
  });
</script>

{% endblock %}