{% extends 'base.html' %}
{% block content %}
<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="row">
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <div class="col-sm-15">
          <h4>Planungshorizont festlegen</h4>
        </div>
        <p>Die Terminplanung ist aufgrund des Wetterberichtes nur für die <b>nächsten 30 Tage</b> möglich.</p>
        <form action="" method="post" style="max-width: 550px;margin: 0 auto;">
          {{ form.csrf_token }}

          <div class="row">
            <div class="col">
              {{ form.startdate.label }}<br>
              {{ form.startdate(class_="form-control") }}<br>
            </div>
            <div class="col">
              {{ form.enddate.label }}<br>
              {{ form.enddate(class_="form-control") }}<br>
            </div>
          </div>
          {% for termin in form.termine %}
            <div class="row">
              <div class="col">
                Bezeichnung<br>
                {{ termin.terminbeschreibung(class_="form-control") }}<br>
              </div>
              <div class="col">
                Dauer in Stunden<br>
                {{ termin.duration(class_="form-control") }}<br>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Maschinen<br>
                {{ termin.machines }}<br>
              </div>
              <div class="col">
                Produkt<br>
                {{ termin.product }}<br>
              </div>
            </div>

            <div class="row">
              <div class="col">
                Mitarbeiter<br>
                {{ termin.mitarbeiter }}
              </div>
            </div>
            {{ termin.csrf_token }}
          {% endfor %}

          {{ form.optimization_identifier }}
          <br>
          {{ form.optimize(class_="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}