{% extends 'base.html' %}
{% block content %}
<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="row">
  <div class="col mb-3">
    <div class="card h-100">
      <div class="card-header">
        Optimization
      </div>
      <div class="card-body">
        <div class="col-sm-15">
          <h4>Planungshorizont festlegen</h4>
        </div>
        <p>Die Terminplanung ist aufgrund des Wetterberichtes nur für die <b>nächsten 30 Tage</b> möglich.</p>
        <form action="" method="post">
          {{ form.csrf_token }}
          {{ form.startdate.label }}
          {{ form.startdate }}<br>
          {{ form.enddate.label }}
          {{ form.enddate }}<br>
          {{ form.optimization_identifier }}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Bezeichnung</th>
                <th>Maschinen</th>
                <th>Mitarbeiter</th>
                <th>Dauer (h)</th>
              </tr>
            </thead>
            <tbody>
              {% for termin in form.termine %}
                <tr>{{ termin.csrf_token }}
                  <td>#{{ loop.index0 + 1 }}</td>
                  <td>{{ termin.terminbeschreibung }}</td>
                  <td>{{ termin.machines }}</td>
                  <td>{{ termin.mitarbeiter }}</td>
                  <td>{{ termin.duration }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>            
          {{ form.optimize }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}