{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Profil
      </div>
      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          <img class="mb-4 profile-pic" src="{{ url_for('static', filename=profilepic) }}" alt="" width="75" height="75">
          <h1 class="h3 mb-3 font-weight-normal">Profil anpassen</h1>
          {{ form.hidden_tag() }}
          {{ form.profilepic.label }}
          <br>
          {{ form.profilepic }}
          <br>
          {{ form.username.label }}
          {{ form.username }}
          {{ form.password.label }}
          {{ form.password }}
          {{ form.val_password.label }}
          {{ form.val_password }}
          <br>
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}