<!--{% block head %} wir vererben nicht, wir includen, d.h. wir brauchen block nicht -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Energieoptimierung</title>
<script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-plugin-datalabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sidebars.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- {% endblock %} -->