<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <button class="sidebar-toggle-icon" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ url_for('static', filename=profilepic) }}" alt="mdo" width="34" height="34" class="rounded-circle profile-img-preview">
            </a>
            <ul class="dropdown-menu text-small">
                {%+ if userrole == "0" %}
                <li><a class="dropdown-item" href="/settings">Settings</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/reload_webapp">Reload Webapp</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                <li><p class="dropdown-item">Nutzer: {{ username }}</p></li>
            </ul>
        </div>
    </div>
</div>