<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Energieoptimierung</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="{{ url_for('home') }}" class="nav-link {% if request.path == '/' %}active{% endif %} text-white" aria-current="page">
            <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
            <lord-icon
                class="bi pe-none"
                src="https://cdn.lordicon.com/osuxyevn.json"
                trigger="click"
                target=".nav-item"
                style="width:32px;height:32px">
            </lord-icon>
            <span class="nav-text">Home</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('dashboard') }}" class="nav-link {% if request.path == '/dashboard' %}active{% endif %} text-white">
            <img height="20" width="20" class="bi pe-none" src="{{ url_for('static', filename='img/dashboard.svg') }}">
            <span class="nav-text">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('optimization') }}" class="nav-link {% if request.path == '/optimization' %}active{% endif %} text-white">
            <img height="20" width="20" class="bi pe-none" src="{{ url_for('static', filename='img/flask.svg') }}">
            <span class="nav-text">Optimization</span>
        </a>
    </li>
</ul>
<hr>
<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <span class="nav-text"><strong>User</strong></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
</div>