<div class="sidebar-container overflow-hidden h-100">
    <div class="sidebar-inner d-flex flex-column flex-shrink-0">
        <a href="/" class="slogan-div d-flex align-items-center me-md-auto text-decoration-none">
            <img class="bi pe-none me-2" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="42"
                height="42">
            <span class="fs-4 sidebar-slogan">Solar<b>Sync</b></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('home') }}"
                    class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">
                    <script src="{{ url_for('static', filename='js/icons/home.js') }}"></script>
                    <lord-icon class="bi pe-none" src="{{ url_for('static', filename='js/icons/home.json') }}"
                        trigger="hover" target=".nav-item"
                        style="width:26px;height:26px;vertical-align: middle;">
                    </lord-icon>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('optimization') }}"
                    class="nav-link {% if request.path == '/optimization' %}active{% endif %}">
                    <script src="{{ url_for('static', filename='js/icons/math.js') }}"></script>
                    <lord-icon src="{{ url_for('static', filename='js/icons/math.json') }}" trigger="hover"
                        target=".nav-item"
                        style="width:26px;height:26px;vertical-align: middle;">
                    </lord-icon>
                    <span class="nav-text">Terminoptimierung</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('weather') }}"
                    class="nav-link {% if request.path == '/weather' %}active{% endif %}">
                    <script src="{{ url_for('static', filename='js/icons/article.js') }}"></script>
                    <lord-icon src="{{ url_for('static', filename='js/icons/article.json') }}" trigger="hover"
                        target=".nav-item"
                        style="width:26px;height:26px;vertical-align: middle;">
                    </lord-icon>
                    <span class="nav-text">Wetterbericht</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('calendar') }}"
                    class="nav-link {% if request.path == '/calendar' %}active{% endif %}">
                    <script src="{{ url_for('static', filename='js/icons/optimize.js') }}"></script>
                    <lord-icon src="{{ url_for('static', filename='js/icons/optimize.json') }}" trigger="hover"
                        target=".nav-item"
                        style="width:26px;height:26px;vertical-align: middle;">
                    </lord-icon>
                    <span class="nav-text">Kalender</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('pv_anlage') }}"
                    class="nav-link {% if request.path == '/pv_anlage' %}active{% endif %}">
                    <script src="{{ url_for('static', filename='js/icons/dashboard.js') }}"></script>
                    <lord-icon src="{{ url_for('static', filename='js/icons/analytics.json') }}" trigger="hover"
                        target=".nav-item"
                        style="width:26px;height:26px;vertical-align: middle;">
                    </lord-icon>
                    <span class="nav-text">Photovoltaikanlage</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="nav-item sidebar-toggle">
            <div class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">
                <script src="{{ url_for('static', filename='js/icons/arrow.js') }}"></script>
                <lord-icon class="bi pe-none sidebar-toggle-icon"
                    src="{{ url_for('static', filename='js/icons/arrow.json') }}" trigger="hover" target=".nav-item"
                    style="width:26px;height:26px;vertical-align: middle;transform: rotate(270deg);">
                </lord-icon>
                <span class="nav-text">Menü einklappen</span>
            </div>
        </div>
    </div>
</div>