<!DOCTYPE html>
<html lang="de">

<head>
  {% include 'elements/head.html' %}
</head>

<body>

  {# get_flashed_messages() is auto sent to the template with the flash() call #}
  <div style="position: absolute; top: 0; right: 0;">
    {% for mess in get_flashed_messages() %}
    <div class="toast">
      <div class="toast-header">
        <strong class="mr-auto">Info</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{mess}}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="sidebar d-flex flex-column flex-shrink-0 text-bg-dark">
    {% include 'elements/sidebar.html' %}
  </div>

  <div class="inner">
    <header class="p-3">
      {% include 'elements/header.html' %}
    </header>
    <div class="container content text-center">
      {% block content %} {% endblock %}
    </div>
  </div>

</body>

</html>