/*
Vars
*/

:root {
    --border-radius: 0;
}

/*
    Webfont
*/

/* nunito-300 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/nunito-v25-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/nunito-v25-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
    General styling
*/

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: rgb(250, 251, 254);
    ;
    font-family: Nunito, sans-serif;
}

header {
    background: #fff;
    box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.inner {
    .content {
        height: calc(100vh - 66px);
        overflow: auto;
        padding-top: 1rem;
    }
}

.nav-pills .nav-link {
    border-radius: var(--border-radius);
}

.card {
    box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;
    border: 0;
}

.card-header {
    background: transparent;
    border-bottom: 0;
    text-align: left;
    color: rgb(138, 150, 156);
}

.btn {
    background: #5263b4;
    color: #fff;

    &:hover,
    &:active {
        background: #455398;
        color: #fff;
    }

    &.btn-danger {
        background: #b45252;
    }

    &.btn-outline-danger {
        color: #b45252;
        background: transparent;
    }
}

.btn-outline-primary {
    background: transparent;
    color: #5263b4;
}

@media (min-width: 1200px) {
    .fs-4 {
        font-size: 1.2rem !important;
    }
}

.profile-img-preview, .profile-pic {
    object-fit: cover;
}