.next-dates {
    .datetime {
        font-weight: 200;

        .time {
            font-size: 2.6rem;
        }

        .next-date-slogan {
            margin-top: 1.5rem;
        }

        .next-date-value {
            font-size: 1.5rem;
        }
    }
}