<!DOCTYPE html>
<html lang="de">

<head>
  {% include 'elements/head.html' %}
</head>

<body>

  {# get_flashed_messages() is auto sent to the template with the flash() call #}
  <div class="toast-container position-static position-absolute top-0 end-0 mt-2 me-2" style="z-index:100">
    {% for mess in get_flashed_messages() %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Info</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{mess}}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="sidebar d-flex flex-column flex-shrink-0">
    {% include 'elements/sidebar.html' %}
  </div>

  <div class="inner">
    <div class="container text-center">
      <header class="p-3">
        {% include 'elements/header.html' %}
      </header>
    </div>

    <div class="container content text-center">
      {% block content %} {% endblock %}
    </div>
  </div>

</body>

</html>